.rivers_h1 {
    margin: 2vh auto;
    text-align: center;

}

.rivers_box {
    margin: 0 5vw;

    .rivers_return {

        .rivers {

            h3 {

            }
            
            .link-element {
                text-decoration: none;
            }
        }
    }
}